
.container{
    width: 800px;
    padding: 100px;
    border: 5px solid purple;
}

.lbl1{
    background-color: rgb(226, 226, 226);
    width: 150px;
    display: inline-block;
}

.mydiv2{
    margin: 10px 0;
}
